# Configuration MLflow & DagsHub
# Copiez ce fichier en .env et remplissez avec vos vraies credentials

# DagsHub
DAGSHUB_USERNAME=AlaDdin0709
DAGSHUB_REPO_NAME=mlops_election
DAGSHUB_TOKEN=your_dagshub_token_here

# MLflow Tracking
MLFLOW_TRACKING_URI=https://dagshub.com/AlaDdin0709/mlops_election.mlflow

# DVC Remote (S3-compatible DagsHub)
AWS_ACCESS_KEY_ID=your_dagshub_access_key
AWS_SECRET_ACCESS_KEY=your_dagshub_secret_key
